<div id="email-popout" class="email-popout popout-window shadow-container">
  <header>
    <h4>Send Email</h4>
  </header>
  <section class="content">
    <form action="email/sendemail" method="post" class="form-horizontal">
      <div class="form-group">
        <label for="email-to-address" class="col-sm-1 control-label">To:</label>
        <div class="col-sm-10">
          <table id="email-to-address-table"><%= participantsTable %></table>
        </div>
        <div class="col-sm-1 col-flat">
          <button id="cc-btn" type="button" class="btn btn-default">CC</button>
        </div>
      </div><!-- .form-group -->

      <div id="email-cc-container" class="form-group">
        <label for="email-cc-address" class="col-sm-1 control-label">CC:</label>
        <div class="col-sm-10">
          <input id="email-cc-address" type="text" class="form-control" value="<%= CCAddress %>">
        </div>
        <div class="col-sm-1 col-flat">
          <button id="cc-me-btn" type="button" class="btn green-btn btn-default">Me</button>
        </div>
      </div><!-- .form-group -->

      <div class="form-group">
        <label for="email-subject" class="col-sm-1 control-label">Subject:</label>
        <div class="col-sm-10">
          <input id="email-subject" type="text" class="form-control" value="<%= Subject %>">
        </div>
      </div><!-- .form-group -->

      <div class="jumbotron">
        <%= SystemMessageBody %>
      </div><!-- .form-group -->

      <div class="form-group">
        <label for="email-user-comment">Your comment:</label>
        <textarea id="email-user-comment" class="form-control"><%= UserMessageBody %></textarea>
      </div><!-- .form-group -->
    </form>
  </section>
  <footer class="popout-btn-group btn-container cf">
    <button id="popout-cancel-btn" class="cancel-btn btn-lg btn-default btn f-right">Cancel</button>
    <button id="popout-submit-btn" class="blue-btn btn-lg f-right">Send</button>
  </footer>
</div>