<div class="confirm-popout popout-window shadow-container">
  <header>
    <h4>Still Move?</h4>
  </header>
  <section>
    <h4>Are you sure you want to move <strong class="dangerous-status">without </strong> a review by:</h4>
    <p class="hint">
      <i class="fa fa-exclamation-circle"></i>
      Select person you want to send email to.
    </p>
    <table id="unreviewed-participant-table">
      <tbody>
        <tr>
          <th>
            <label>
              <input id="select-all-checkbox" class="select-all" type="checkbox" checked>
            </label>
          </th>
          <th>Name</th>
          <th>Due Date</th>
        </tr>
        <%= notReviewedRows %>
      </tbody>
    </table>
  </section>
  <footer class="popout-btn-group btn-container cf">
    <button id="display-email-popout-btn" class="email-reminder-btn btn grey-btn btn-lg f-left">Send Email</button>
    <button id="popout-cancel-btn" class="green-btn btn-lg f-right">No, Wait Them</button>
    <button id="next-workflow-btn" class="btn-lg btn purple-btn f-right">Yes, Move Now</button>
  </footer>
</div><!-- confirm-popout -->